-- This is a Cabal package environment file.
-- Please create a 'cabal.config' file in the same directory
-- if you want to change the default settings for this sandbox.

install-dirs
  bindir: $prefix/bin
  libdir: $prefix/lib
  libsubdir: $pkgid
  libexecdir: $prefix/libexec
  datadir: $prefix/share
  datasubdir: $pkgid
  docdir: $datadir/doc/$pkgid
  htmldir: $docdir/html
  haddockdir: $htmldir
  sysconfdir: $prefix/etc
